# remove OS system files
*.DS_Store

# ignore all node packages
/node_modules

# ignore all .env files to protect sensitive data
*.env

# ignore all .key files to protect sensitive data
/keys
*.key

# remove build project
/dist